<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- standard meta -->
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <link rel="icon" href="/csdv/favicon.ico" sizes="any">
    <link rel="icon" href="/csdv/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/csdv/favicon-180.png">
    <link rel="manifest" href="/csdv/manifest.webmanifest">
    <meta name="theme-color" content="#002440" />
    {{ if .Params.noindex }}
    <meta name="robots" content="noindex">
    {{ end }}

    <!-- feed -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/csdv/sitemap.xml">
    <link rel="alternate" type="application/rss+xml" href="/csdv/feed" />

    <!-- stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/csdv/css/page.css?v=20200319">
    <link rel="stylesheet" href="/csdv/css/github.css?v=20200319">

    <!-- Facebook -->
    <meta property="og:url" content="https://swharden.com/csdv/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:image" content="/csdv/img/banner.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="swharden.com">
    <meta property="twitter:url" content="https://swharden.com/csdv/">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Description }}">
    <meta name="twitter:image" content="/csdv/img/banner.jpg">

    <!-- Custom Analytics -->
    <script src="https://swharden.com/analytics/log.js" defer></script>
    
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GN1D8JT7TK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-GN1D8JT7TK');
    </script>

</head>

<body class="bg-light">

    <div class="h-50 w-100 backsplash-pattern"
        style="position: absolute; min-height: 40rem; background: repeating-linear-gradient(-45deg, #002440, #002440 3px, white 3px, white 6px);">
        <div class="h-100 w-100" style="background-color: #002440; opacity: .98;"></div>
    </div>

    <div class="container-fluid p-0" style="position: relative; max-width: 1000px;">

        <header class="text-light py-5">
            <div class="container-fluid" style="max-width: 1000px;">
                <div class="display-5 fw-normal">
                    <a href='/csdv' class="text-light" style="text-shadow: 2px 2px 2px #00000066;">C# Data
                        Visualization</a>
                </div>
                <div style="opacity: .5;">
                    Resources for visualizing data using C# and the .NET platform
                </div>
            </div>
        </header>

        <main>
            {{ block "main" . }}
            {{ end }}
        </main>

    </div>

    <footer class="container align-items-end mt-5">
        <div class="row">
            <div class="col-sm text-center py-3" style="opacity: .3;">
                <div>
                    Copyright &copy; {{ now.Format "2006" }}
                </div>
                <div>
                    <a href='https://swharden.com/about' class="text-dark">Scott W Harden</a>
                </div>
            </div>

            <div class="col-sm text-center py-3" style="opacity: .3;">
                <div>
                    Built with Hugo {{ .Site.Hugo.Version }}
                </div>
                <div>
                    {{ time now | time.Format ":date_long" }}
                    at {{ time now "America/New_York" | time.Format ":time_short" }} EST
                </div>
            </div>

            <div class="col-sm text-center py-3" style="opacity: .3;">
                <a href="/csdv/feed" class="text-dark">RSS Feed</a>
                <br>
                <a href="https://github.com/swharden/Csharp-Data-Visualization/blob/main/website/content/{{ path.Clean .File.Path }}"
                    class="text-dark">
                    Page Source
                </a>
            </div>
        </div>
    </footer>

    <!-- bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- google ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6687695838902989"
        crossorigin="anonymous"></script>

</body>

</html>
