{{ define "main" }}

<article class="my-3">
  {{ partial "home.md" | markdownify }}
</article>

<article>
  <div class="mt-5">
    <div class="display-6">All Pages</div>
  </div>

  {{ partial "section-links.html" (dict "context" . "sectionKey" "skiasharp") }}
  {{ partial "section-links.html" (dict "context" . "sectionKey" "system.drawing") }}
  {{ partial "section-links.html" (dict "context" . "sectionKey" "maui.graphics") }}
  {{ partial "section-links.html" (dict "context" . "sectionKey" "simulations") }}

</article>

{{ end }}