{{ define "main" }}


<article class="bg-light shadow rounded border">

    <header class="px-3 py-2">

        <div class="fs-1 fw-light lh-1 mt-2">
            <a href="{{ .Permalink }}" class="text-dark">
                {{ .Title | markdownify }}
            </a>
        </div>

        <div class="fs-5 fw-lighter lh-1 mt-2">
            {{ .Description | markdownify }}
        </div>

    </header>

    <div class="px-3 rounded bg-white border-top" style="min-height: 800px;">
        {{ .Content }}

        {{ range .Paginator.Pages }}
        <div class="my-4">
            <div class="fs-4">
                <a href='{{.Page.Permalink}}'>{{.Title}}</a>
            </div>
            <div>
                {{.Description}}
            </div>
        </div>
        {{ end }}
    </div>

</article>

{{ end }}