{{ define "main" }}
<div class="mt-5">
    <h1 class="display-5">
        {{ .Title | markdownify }}
    </h1>
    <div class="fs-5 fw-lighter">
        {{ .Description | markdownify }}
    </div>

    <div style="opacity: .25;">
        {{ .Date.Format "January 2, 2006" }}
        {{ if isset .Params "updated" }}
        (updated on {{ .Params.updated | dateFormat "Jan 2, 2006" }})
        {{ end }}
    </div>

</div>

<div class="py-2">
    <main>
        <article>
            {{ .Content }}
        </article>
    </main>
</div>

{{ end }}