{{ define "main" }}

<div class="mt-4">

    <div class="fs-1 fw-light mb-0">
        <a href="{{ .Permalink }}" class="text-dark">
            {{ .Title | markdownify }}
        </a>
    </div>

    <div class="fs-5 fw-lighter">
        {{ .Description | markdownify }}
    </div>

    <div style="opacity: .4;">
        <a href="{{ .Permalink }}" class="text-dark">
            {{ if not .Date.IsZero }}
            {{ .Date.Format "January 2, 2006" }}
            {{ end }}

            {{ if ne .Date .Lastmod }}
            (updated on {{ .Params.lastmod | dateFormat "Jan 2, 2006" }})
            {{ end }}
        </a>
    </div>

    <hr />

</div>

<div class="py-2">
    <main>
        <article>
            {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)"
                `<a href="#${2}">${1}</a> ${3}` | safeHTML }}
        </article>
    </main>
</div>

{{ end }}