<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers.Toolset" version="3.1.0" targetFramework="net472" developmentDependency="true" />
  <package id="SixLabors.Core" version="1.0.0-beta0008" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0-beta0009" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0007" targetFramework="net472" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0-beta0007" targetFramework="net472" />
  <package id="SixLabors.Shapes" version="1.0.0-beta0009" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
</packages>