ErrorDocument 404 /csdv/404/index.html
Redirect 301 /csdv/platforms/skiasharp/ /csdv/skiasharp/skiasharp/
Redirect 301 /csdv/platforms/skiasharp-opengl/ /csdv/skiasharp/skiasharp-opengl/
Redirect 301 /csdv/platforms/skiasharp-opengl-starfield/ /csdv/skiasharp/skiasharp-opengl-starfield/