<section>

    {{ with .context.Site.GetPage "section" .sectionKey }}
    <div class="fs-2 fw-light">
        <a href="{{ .Permalink }}" class="text-dark">{{.Title}}</a>
    </div>
    {{ end }}

    <ul>
        {{ range (where .context.Site.Pages "Section" .sectionKey) }}

        <!-- the second range is required so section indexes do not appear -->
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title | default "⚠️ no title" }}
            </a>
        </li>
        {{ end }}

        {{ end }}
    </ul>

</section>