<section>

    {{ with .context.Site.GetPage "section" .sectionKey }}
    <div>
        <h3 class="mt-3 fw-light">
            {{.Title}}
        </h3>
    </div>
    {{ end }}

    <ul>
        {{ range (where .context.Site.Pages "Section" .sectionKey) }}

        <!-- the second range is required so section indexes do not appear -->
        {{ range .Pages }}
        <li>
            <a href="{{ .URL }}">
                {{ .Title }}
            </a>
        </li>
        {{ end }}

        {{ end }}
    </ul>

</section>